<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - Trocadisco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Login no Trocadisco</h2>
        <form method="POST" action="/login">
            <input type="text" name="login" placeholder="Login" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <a href="{{ url_for('usuarios.cadastro') }}" class="link-alternativo">Não tem conta? Cadastre-se</a>
    </div>
</body>

</html>